# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# QuEd
*.gch
*.o
bin64/sauerbraten.exe
bin/sauerbraten.exe
src/vcpp/.objs/client64/vcpp/mingw.res
src/vcpp/sauerbraten.layout
src/vcpp/sauerbraten.depend
todo.txt
src/vcpp/.objs/client32/vcpp/mingw.res
fixsrc/*
home/ipignore.log
home/log.txt
home/screenshots
home/history.log
home/saved/servers.cfg
home/init.cfg
home/ipignore.cfg
home/saved/config.cfg
home/saved/restore.cfg
home/saved/servers.cfg
home/saved/stats.ini
home/packages/base
home/demos
home/demos_
packages/*
bin/sauerbraten32.exe
home/autoexec.cfg
home/saved/config.cfg
bin64/sauerbraten64.exe
home/packages/models/snoutx10k/blue/md5.cfg
bin32/sauerbraten32.exe
home/whois.db
home/packages/models/captaincannon/red/md5.cfg
home/packages/models/captaincannon/blue/md5.cfg
home/packages/models/inky/blue/md5.cfg
home/packages/models/inky/red/md5.cfg